#Import data from gist

!wget https://gist.githubusercontent.com/mistyPi/155c0bc2597c9628be1b8ffdeda4d49d/raw/df541b1e2dc3e16847fde3c075f4780e5e7b8efc/internet_ussage.csv

import csv
import matplotlib.pyplot as plt

filename = 'internet_ussage.csv'

#creating dictionary
population_per_continent = {}

with open(filename, 'r') as csvfile:
  reader = csv.DictReader(csvfile)
  for line in reader:
    continent = line['continent']
    year = line['year']
    population = line['population']



  if continent not in population_per_continent:
    population_per_continent[continent] = {'population': [], 'years': []}

  population_per_continent[continent]['population'].append(population)
  population_per_continent[continent] ['years'].append(year)
  

plt.plot([2000, 2010, 2020, 2030, 2040],
[100, 200, 300, 400, 500])
plt.ylabel("Year")
plt.xlabel("# of users")

plt.show()
