#Import data from gist

!wget https://gist.githubusercontent.com/mistyPi/155c0bc2597c9628be1b8ffdeda4d49d/raw/df541b1e2dc3e16847fde3c075f4780e5e7b8efc/internet_ussage.csv

import csv
import matplotlib.pyplot as plt

filename = 'internet_ussage.csv'

population_per_continent = {}

#Open file and set read only
with open(filename, 'r') as csvfile:
  reader = csv.DictReader(csvfile)
  for line in reader:
    continent = line['continent']
    year = int(line['year'])
    population = int(line['population'])

    #Exception if continent is not in dictionary
    if continent not in population_per_continent:
      population_per_continent[continent] = {'population': [], 'years': []}

    #Create continent with empty data
    population_per_continent[continent]['population'].append(population)
    population_per_continent[continent]['years'].append(year)


for continent in population_per_continent:
  years = population_per_continent[continent]['years']
  population = population_per_continent[continent]['population']
  plt.plot(years, population, label=continent, marker="o", alpha=0.5)

plt.title("Internet Population per continent")
plt.xlabel("Year")
plt.ylabel("Internet users (in billion users)")
plt.grid(True)
plt.tight_layout()
plt.legend()

plt.show()
